.movieInfos {
	text-align: left;
	display: inline-block;
	margin: 50px;
	width: 75vw;
}

.movieInfosImg {
	border-radius: 3px;
	box-shadow: 0 0 10px black;
}

.movieInfosOverview {
	margin-left: calc(520px + 2%);
	text-align: justify;
}

.castContainer {
	display: inline-block;
	text-align: center;
	margin-left: 2%;
}

.prodImg {
	background: white;
	width: 100px;
	height: 100px;
	object-fit: contain;
	border-radius: 3px;
	box-shadow: 0 0 10px black;
}

.castImg {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 3px;
	box-shadow: 0 0 10px black;
}

.torrentQualityButton {
	text-align: center;
	display: inline-block;
	margin-left: 2%;
	border-radius: 3px;
	border: 1px solid white;
	padding: 10px;
	color: grey;
	box-shadow: 0 0 10px black;
	transition: 0.35s box-shadow;
	transition: 0.35s color;
	cursor: pointer;
}

.torrentQualityButton:hover {
	box-shadow: 0 0 50px black;
	color: white;
}

.tvEpisodesTable {
	margin: auto;
	border-collapse: collapse;
	border-radius: 3px;
	background: #2A292F;
	box-shadow: 0 0 10px black;
	width: 100%;
}

.tvEpisodesTable tr th {
	padding: 20px;
}

.tvEpisodesTable tr td {
	padding: 5px 20px;
	border-bottom: 1px solid #1A1D23;
	width: 33%;
}
