.movieInfos {
	display: inline-block;
	margin-top: 50px;
}

.moviesInfosImg {
	width: 500px;
	height: 750px;
	object-fit: cover;
	border-radius: 3px;
	box-shadow: 0 0 10px black;
	display: inline-block;
}

.movieInfosText {
	text-align: left;
	width: 450px;
	min-height: 650px;
	margin-left: 50px;
	display: inline-block;
	box-shadow: 0 0 10px black;
	border-radius: 3px;
	background: #2A292F;
	vertical-align: top;
	padding: 50px;
	overflow: hidden;
}

.movieInfosOverview {
	text-align: justify;
}

.castContainer {
	display: inline-block;
	text-align: center;
	margin-right: 20px;
}

.castImg, .prodImg {
	background: white;
	width: 100px;
	height: 100px;
	border-radius: 3px;
	box-shadow: 0 0 10px black;
}

.prodImg {
	object-fit: contain;
}

.castImg {
	object-fit: cover;
}

.castImgText {
	width: 90px;
	height: 90px;
	position: absolute;
	float: left;
	display:flex;
	justify-content:center;
	align-items:center;
	background: rgba(0, 0, 0, 0.85);
	z-index: 900;
	transition: 0.25s opacity;
	color: lightgrey;
	opacity: 0;
	padding: 5px;
}

.castImgText:hover {
	opacity: 1;
}

.torrentQualityButton {
	text-align: center;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid white;
	padding: 5px 10px;
	color: lightgrey;
	box-shadow: 0 0 10px black;
	transition: 0.35s box-shadow, 0.35s color;
	cursor: pointer;
}

.torrentQualityButton {
	margin-right: 10px;
}

.torrentQualityButton:hover {
	box-shadow: 0 0 10px white;
	color: white;
}

.tvDownload {
	width: 1100px;
	margin-bottom: 50px;
}

.tvEpisodesTable {
	margin: auto;
	margin-bottom: 5px;
	border-collapse: collapse;
	border-radius: 3px;
	background: #2A292F;
	box-shadow: 0 0 10px black;
	width: 100%;
}

.tvEpisodesTable tr th {
	padding: 20px;
}

.tvEpisodesTable tr td {
	padding: 7px 0px;
	border-bottom: 1px solid #1A1D23;
	width: 33%;
}

.seasonContainer {
	width: 150px;
	height: 225px;
	position: relative;
	margin: 10px;
	display: inline-block;
}

.seasonTitle {
	padding: 5px;
	display:flex;
	justify-content:center;
	align-items:center;
	opacity: 0;
	background: rgba(0, 0, 0, 0.85);
	text-align: center;
	width: 140px;
	height: 215px;
	float: left;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 900;
	transition: 0.25s opacity;
	color: lightgrey;
}

.seasonTitle:hover {
	opacity: 1;
}

.seasonImg {
	box-shadow: 0 0 10px black;
	width: 150px;
	height: 225px;
	object-fit: cover;
	border-radius: 3px;
}

.commentSection {
	margin: 10px 0;
	padding: 20px;
	text-align: left;
	box-shadow: 0 0 10px black;
	border-radius: 3px;
	background: #2A292F;
	overflow: hidden;
}
