.searchMenu {
	width: 230px;
	height: calc(100vh - 51px);
	position: fixed;
	top: 51px;
	left: -180px;
	transition: 0.35s left;
	z-index: 0;
	background: #2A292F;
	border-right: 1px solid black;
	overflow-x: hidden;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 3px;
	background: dimgray;
}

@media only screen and (max-height: 1200px) {
	.searchChoice, .searchChoiceActive, .searchRange, .searchRange:focus {
		padding: 2px !important;
	}
}

@media only screen and (max-height: 1050px) {
	.searchChoice, .searchChoiceActive, .searchRange, .searchRange:focus {
		padding: 0 !important;
	}
}

.searchMenu:hover {
	left: 0;
}

.searchMovies {
	margin-left: calc((100vw - (100vw - 230px)) / 2);
	width: calc(100vw - 230px);
	transition: 0.35s margin-left;
}

.searchMenu:hover + .searchMovies{
	margin-left: 230px;
}

.searchChoice {
	cursor: pointer;
	padding: 5px;
	color: dimgray;
}

.searchChoiceActive {
	color: inherit;
	cursor: pointer;
	padding: 5px;
}

.searchChoice:hover {
	color: grey;
}

.searchRange {
	width: 30%;
	padding: 5px;
	border: none;
}

.searchRange:focus {
	padding: 5px;
}

.movie {
	width: 230px;
	height: 345px;
	position: relative;
	margin: 15px;
	display: inline-block;
}

.movieTitle {
	display:flex;
	justify-content:center;
	align-items:center;
	opacity: 0;
	background: rgba(0, 0, 0, 0.85);
	text-align: center;
	width: 230px;
	height: 345px;
	float: left;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 900;
	transition: 0.25s opacity;
	color: lightgrey;
}

.movieTitle:hover {
	opacity: 1;
	object-fit: cover;
}

.movieImg {
	box-shadow: 0 0 10px black;
	width: 230px;
	height: 345px;
	object-fit: cover;
	border-radius: 3px;
}

.noMovies {
	font-size: 300%;
	margin-top: 100px;
}
