.profileImg {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin: 0px 20px 20px 0px;
	box-sizing: border-box;
}

.changePhotoButton {
	font-size: 85%;
	border: 1px solid lightgrey;
	padding: 2px 5px;
	background: #1A1D23;
	border-radius: 3px;
	margin-top: 10px;
	cursor: pointer;
}

@media only screen and (max-width: 700px) {
	.profileBox {
		width: 250px !important;
		font-size: 75%;
		margin: 0px;
	}
}
