.videoPlayerContainer {
	margin-top: 50px;
	width: 1100px;
}

@media only screen and (max-width: 1100px) {
	.videoPlayerContainer {
		width: 550px;
	}
}

@media only screen and (max-width: 700px) {
	.videoPlayerContainer {
		width: 250px;
	}
}
