body {
	font-family: 'Open Sans', sans-serif;
	background: #1A1D23;
	color: #f1f1f1;
	text-align: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

div {
	margin: 0;
	padding: 0;
}

.formBox {
	display: inline-block;
	min-width: 300px;
	width: 15vw;
	border-radius: 3px;
	background: #2A292F;
	padding: 20px 40px;
	box-shadow: 0 0 10px black;
}

.fontBig {
	font-size: 200%;
}

.fontMedium {
	font-size: 150%;
}

.fontSmall {
	font-size: 85%;
}

.fontXSmall {
	font-size: 75%;
}

.fontGrey {
	color: dimgray;
}

.fontLeft {
	text-align: left;
}

.fontCenter {
	text-align: center;
}

.fontRight {
	text-align: right;
}

.fontJustify {
	text-align: justify;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.marginTop {
	margin-top: 10px;
}

.marginLeft {
	margin-left: 10px;
}

.marginAuto {
	margin: auto;
}

.inline {
	display: inline-block;
}

.block {
	display: block;
}

.transparent {
	opacity: 0.1;
}

.hidden {
	visibility: hidden;
}

.test {
	border: 1px solid red;
}

.underline {
	text-decoration: underline;
}

.lignTop {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #1A1D23;
}

.lignBottom {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #1A1D23;
}

.spaceTop {
	margin-top: 10px;
}

.spaceTopBig {
	margin-top: 50px;
}

.spaceBottom {
	margin-bottom: 10px;
}

.spaceBottomBig {
	margin-bottom: 20px;
}

.spaceLeft {
	margin-left: 10px;
}

.spaceRight {
	margin-right: 10px;
}

.spaceRightBig {
	margin-right: 20px;
}

.loading {
	-webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

.button {
	background: #1A1D23;
	padding: 10px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 20px;
}

.wFull {
	box-sizing: border-box;
	width: 100%;
}

.wHalf {
	box-sizing: border-box;
	width: 100%;
}

.capital {
	text-transform: capitalize;
}

.circle {
	border-radius: 50%;
}

.floatClear {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.pointer {
	cursor: pointer;
}
