input {
	color: #f1f1f1;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background: transparent;
	padding: 0px;
	margin-bottom: 20px;
	transition: 0.3s padding-bottom;
	border: 0px;
	border-bottom: 1px solid lightgrey;
	outline: none;
	width: 100%;
}

input:focus {
	padding: 10px 0px;
}

input[type='submit'] {
	background: #1A1D23;
	padding: 10px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	cursor: pointer;
}

input[type='file'] {
	display: none;
}

.invalidInput {
	border-bottom: solid 1px #BE4B49;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #2A292F inset;
	-webkit-text-fill-color: #f1f1f1 !important;
}
